:root {
    --mainFont: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li{
    text-align: center;
}

header {
    padding: 20px;
    font-family: var(--mainFont);
    background-color: #2589bd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

    header h1 {
        display: inline-block;
    }

    header nav {
        padding-top: 15px;
        margin-right: 20px;
        float: right;
        font-family: var(--mainFont);
        font-size: 22px;
        list-style-type: none;
    }

button{
    font-family: var(--mainFont);
    font-size: 15px;
    margin: 20px;
    border: 2px solid #879fc2;
    width: 180px;
    height: 80px;
    text-align: center;
    background-color: #3160c7;
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;  
}

button:hover{
    background-color: rgb(68, 137, 201);
}

input{
    margin-top:20px;
    border-radius: 5px;
    padding:5px;
    border-color: #3160c7;
}

.MainPrompt{
    padding: 50px 200px 200px 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

    .MainPrompt h1{
        display:flex;
        align-items: center;
        flex-direction: column;
        padding-bottom:25px;
        font-family: var(--mainFont);
    }

    .MainPrompt p{
        font-family: var(--mainFont);
        text-align: center;
    }

.QuizTitle{
    font-family: var(--mainFont);
    color:aliceblue;
    margin-left: 18px;
}

.quizBox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.highScoreNav{
    font-family: var(--mainFont);
    border: 2px solid #879fc2;
    text-align: center;
    background-color: #3160c7;
    display: flex;
    position: relative;
    bottom: 5px;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 35px;
    width: 250px;
    border-radius: 5px;
}

    .highScoreNav:hover {
        background-color: rgb(68, 137, 201);
    }

.highScoreClear{
    font-family: var(--mainFont);
    border: 2px solid #879fc2;
    text-align: center;
    background-color: #3160c7;
    display: flex;
    position: relative;
    bottom: 5px;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 35px;
    width: 250px;
    border-radius: 5px;
    position:relative;
    top:30px;
}
    .highScoreClear:hover {
        background-color: rgb(68, 137, 201);
    }

.highScoreList{
    list-style-type: none;
    display: flex;
    font-family: var(--mainFont);
    flex-direction: column;
    align-items: center;
}

.highScoreList li{
    padding: 10px;
}

#startbutton {
    font-family: var(--mainFont);
    font-size: 15px;
    margin-top: 25px;
    border: 2px solid #879fc2;
    width: 155px;
    height: 50px;
    text-align: center;
    background-color: #3160c7;
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;  
}
          
    #startbutton:hover {
        background-color: rgb(68, 137, 201);
    }

.quesBox{
    display:flex;
}

.quesText{
    font-family: var(--mainFont);
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    text-align: center;
    align-items: center;
}

.timerText{
    font-family: var(--mainFont);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    font-size: 25px;
}
